﻿@model CustomerResponse

<div>
	<h1 class="display-4"> Введите свои данные:</h1>
	<form asp-action="DonationForm" method="post" class="p-3 mb-4 bg-secondary text-white">
		<div>
			<label asp-for="Name">Введите Ваше имя:</label>
			<input asp-for="Name" type="text" class="form-control">
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div >
			<label asp-for="Address">Введите Ваш адрес:</label>
			<input asp-for="Address" type="text" class="form-control">
			<span asp-validation-for="Address" class="text-danger"></span>
		</div>
		<div >
			<label asp-for="Email">Введите адрес электронной почты:</label>
			<input asp-for="Email" type="text" class="form-control">
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div >
			<label asp-for="Comment">Ваше сообщение:</label>
			<textarea asp-for="Comment" type="text" class="form-control"> </textarea>
		</div>
		<div >
			<label asp-for="Payment">Выберите способ перевода:</label>
			<select asp-for="Payment" class="form-control">
				<option value="">Выберите способ оплаты </option>
				<option value="Карта">Перевод на карту</option>
				<option value="Банкинг">Перевод через Интернет-банкинг</option>
				<option value="PayPal">Перевод через PayPal</option>
			</select>
			<span asp-validation-for="Payment" class="text-danger"></span>
		</div>
		<div >
			<label asp-for="Sum">Введите сумму пожертвования:</label>
			<input asp-for="Sum" type="text" class="form-control">
			<span asp-validation-for="Sum" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-warning mt-2">Поддержать</button>
	</form>
</div>
<div class="text-center"><a asp-action="Index"> Вернуться на Главную страницу</a></div>
