﻿@{
    ViewData["Title"] = "Курсы по видеомонтажу";
}


<div class="text-center mt-3">
	<h1>Приветствуем на онлайн курсе по видеомонтажу "ProSkill"!<span class="badge bg-secondary">New</span></h1>
	<br>
	<div class="text-center">
		<p> Инженер монтажа – это ценный специалист, без которого не получится качественно сделать даже
			самое простое видео. Если вы делаете только первые шаги в освоении монтажа и хотите уметь больше
			– этот курс для вас! Благодаря вашей поддержке будут выходить новые видео</p></div>
	<br>
	<p>В видеокурсе Вы:</p>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
			<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
		</symbol>
	</svg>

	<div class="alert alert-success d-flex align-items-center " role="alert">
		<svg class="bi flex-shrink-0 me-2" width="24" height="15" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
		<div >
			Узнаете основы и философию монтажных программ
		</div>
	</div>
	<div class="alert alert-success d-flex align-items-center" role="alert">
		<svg class="bi flex-shrink-0 me-2" width="24" height="15" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
		<div>
			Изучите принципы монтажа
		</div>
	</div>
	<div class="alert alert-success d-flex align-items-center" role="alert">
		<svg class="bi flex-shrink-0 me-2" width="24" height="15" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
		<div>
			Освоите навык структурирования проекта
		</div>
	</div>
	<div class="alert alert-success d-flex align-items-center" role="alert">
		<svg class="bi flex-shrink-0 me-2" width="24" height="15" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
		<div>
			Изучите понятие темпоритма и жанра видео
		</div>
	</div>
	<br>
	<br>
	<a asp-action="DonationForm" class="mt-0"> Поддержать курсы можно здесь! </a>
	<br>
	<a asp-action="ListOfPayers"> Список пожертвовавших</a>
</div>

