﻿@model IEnumerable<CustomerResponse>

<div class="text-center">
	<table class="table table-sm">
		<thead>
		<tr>
			<th>
				Имя
			</th>
			<th>
				Сумма
			</th>
			<th>
				Email
			</th>
			<th>
				Способ оплаты
			</th>
		</tr>
		</thead>

		<tbody>
		@foreach (CustomerResponse response in Model)
		{
			<tr>
				<td>
					@response.Name
				</td>
				<td>
					@response.Sum
				</td>
				<td>
					@response.Email
				</td>
				<td>
					@response.Payment
				</td>
			</tr>
		}
		</tbody>
	</table>
	<a asp-action="Index">Главная</a>
</div>
