﻿@model CustomerResponse

<div class="text-center">
	<h1 class="display-4">Спасибо, @Model.Name! Благодаря Вашей поддержке выходят новые уроки.</h1>
	@if (Model.Payment == "Карта")
	{
		@: Реквизиты для перевода на карту Альфа-банка: 874834738473
	}
	else if (Model.Payment == "Банкинг")
	{
		@: Реквизиты для перевода в Интернет-банкинге: УНП:7733773б, IBAN: 4454545.
	}
	else if (Model.Payment == "PayPal")
	{
		@:Реквизиты для перевода в системе PayPay: Dengisyda.com!
	}
	
	<br>
	<a asp-action="Index">Главная</a>
</div>